*{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer{
    background-color: #212529;
    color:#eee;
}

li{
    list-style:none;
}

ul{
    margin: 0;
    padding: 0;
}

/*ID*/
#Servicios{
    margin: 0;
    padding: 1em .5em;    
}

/*CLASS*/
.PHero, .Sectio2{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    opacity: 0.7;
}

.PHero{
    background-image: url('../img/hero-img.jpg');
    min-height: 100vh;
}

.PText{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    letter-spacing: .5em;
    text-transform: uppercase;
}

.PText .PBorder{
    background-color: black;
    color:white;
    padding: 1.5em;
}
.ServBtn{
    background-color: transparent;
    background-image: none;
    border-color: #5ADD0E;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
    color: #5ADD0E;
    position:absolute;
    top:320px;
}

.ServBtn:hover {
    background-color: #5ADD0E;
    border-color: #5ADD0E;
    color: #fff;
}

.ServBtn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(101,246,6,.25);
}

.ServIcon{
    background-color: #eee;
    border: 2px solid #005918;
    height: 75px;
    margin: 0 auto;
    width: 75px;
}

.ServMod{
    background-color: #2B8D15;
    box-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
    height:400px;
    margin: .5em auto;
    padding: 1em;
    width:300px;
}

.ServMod p{
    text-align: justify;
}